footer.main-footer
  .row
    .small-12.medium-6.columns
      ul
        li
          a(href='https://github.com/Specialkbyte/boilerplate-static')
            i.fa.fa-github GitHub
        li
          a(href='https://twitter.com/__kbaker__')
            i.fa.fa-twitter @__kbaker__

    .small-12.medium-6.columns
      ul.footer-right
        li
          span.copy-statement &copy; Kevin Baker
