include mixins.jade

// JS App Config
script.
  var config = {};

+targethtml('dev')
  script.
    config.api_host = 'http://localhost:8090';
    config.release = 'local';

+targethtml('qa')
  script.
    config.api_host = 'https://qa.jbapi.net';
    config.release = '{{build}}';

+targethtml('prod')
  script.
    config.api_host = 'https://jbapi.net';
    config.release = '{{build}}';