include mixins.jade

// JS App Config
script.
  var config = {};

+targethtml('dev')
  script.
    config.api_url = 'https://api.github.com/repos/Specialkbyte/boilerplate-single-page-app';
    config.release = 'local';

+targethtml('qa')
  script.
    config.api_url = 'https://api.github.com/repos/Specialkbyte/boilerplate-single-page-app';
    config.release = '{{build}}';

+targethtml('prod')
  script.
    config.api_url = 'https://api.github.com/repos/Specialkbyte/boilerplate-single-page-app';
    config.release = '{{build}}';