.row
  .small-12.columns
    h1 Boilerplate Single-Page App
    p This project is designed to remove the often complex setup process that developers
      | face when attempting to build complex single-page apps.
      | This boilerplate include CoffeeScript, SASS and Jade as replacements for 
      | JavaScript, CSS and HTML. It leverages grunt, bower and require.js.
      | It setups useful frameworks and libraries such as 
      | Foundation (CSS Framework), Backbone.js and moment.js 
    p The full documentation on getting started and using boilerplate project are 
      | available on it's 
      a(href="https://github.com/Specialkbyte/boilerplate-single-page-app")
        | GitHub repo
      | . Hopefully it serves you well.
.row
  .small-12.medium-8.columns
    #commits
  .small-12.medium-4.columns
    #issues